BasedOnStyle: LLVM

AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Allman
IndentCaseLabels: true
IndentWidth: 2
KeepEmptyLinesAtTheStartOfBlocks: false
TabWidth: 2
UseTab: Never

---
Language: Cpp

DerivePointerAlignment: false
NamespaceIndentation: All
PointerAlignment: Left

---
Language: Java

ColumnLimit: 144
IndentWidth: 4
TabWidth: 4
UseTab: Always

