[submodule "cs3500/uofu-cs3500-fall19"]
	path = cs3500/uofu-cs3500-fall19
	url = git@github.com:uofu-cs3500-fall19/u1172983.git
[submodule "cs3505/p1/ffmpeg"]
	path = cs3505/p1/ffmpeg
	url = git@github.com:the-chenergy/ffmpeg-asif-cs3505.git
