BasedOnStyle: LLVM
Language: Cpp


AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Allman
DerivePointerAlignment: false
IndentCaseLabels: true
IndentWidth: 2
KeepEmptyLinesAtTheStartOfBlocks: false
NamespaceIndentation: All
PointerAlignment: Left
TabWidth: 2
UseTab: Never

