BasedOnStyle: Google

IndentCaseLabels: true
KeepEmptyLinesAtTheStartOfBlocks: false

---
Language: Cpp

DerivePointerAlignment: false
IndentWidth: 2
NamespaceIndentation: All
PointerAlignment: Left
TabWidth: 2
UseTab: Never

---
Language: Java

IndentWidth: 4
TabWidth: 4
UseTab: Always

