:root {
  --serif: 'Georgia', 'serif';
  --sans: 'Helvetica', 'Open Sans', 'sans-serif';
  --blue: #268bd2;
  --purple: #6c71c4;
  --pink: #d33682;
  --red: #dc322f;
  --orange: #cb4b16;
  --yellow: #b58900;
  --green: #859900;
  --teal: #2aa198;
  --primary: var(--blue);
}

* {
  font-family: var(--serif);
}

.democrat {
  color: var(--blue);
  fill: var(--blue);
}

.neutral {
  color: var(--dark);
  fill: var(--dark);
}

.republican {
  color: var(--orange);
  fill: var(--orange);
}

.democrat-stroke {
  stroke: var(--blue);
}

.neutral-stroke {
  stroke: var(--dark);
}

.republican-stroke {
  stroke: var(--orange);
}

line {
  stroke-width: 2px;
}

.crime {
  color: var(--red);
  fill: var(--red);
}

.economy {
  color: var(--yellow);
  fill: var(--yellow);
}

.education {
  color: var(--purple);
  fill: var(--purple);
}

.energy {
  color: var(--green);
  fill: var(--green);
}

.health {
  color: var(--teal);
  fill: var(--teal);
}

.mental {
  color: var(--pink);
  fill: var(--pink);
}

.unselected {
  color: #bfbfbf;
  fill: #bfbfbf;
  stroke: #bfbfbf !important;
  opacity: 0.3333;
}

.info-panel {
  position: relative;
  text-align: center;
  width: fit-content;
  height: fit-content;
  background: #f4f4f4;
  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-top: 8px !important;
  padding-bottom: 4px !important;
  pointer-events: none;
  opacity: 0;
  z-index: 1;
  float: left;
  font-size: small;
}

.info-panel h4 {
  font-family: var(--sans);
  margin-bottom: 4px;
}

.info-panel span {
  font-weight: bold;
}

.info-panel em {
  filter: brightness(0.75);
}

.container-fluid * {
  padding: 0px;
}

#header {
  padding: 24px;
  text-align: center;
}

#header h1 {
  font-family: var(--sans);
}

#story {
  max-width: 888px;
  font-style: italic;
  text-align: justify;
}

#story p::first-letter {
  float: left;
  color: #555555;
  font-size: 54px;
  line-height: 36px;
  padding-top: 12px;
  padding-right: 6px;
  padding-left: 6px;
}

#story span {
  font-variant: small-caps;
}

#contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
  min-width: 1824px;
}

#bubble-chart {
  width: 864px;
  margin-left: 24px;
  margin-right: 24px;
}

#bubble-chart-group-topics-switch {
  height: 48px;
  left: 42px;
}

#bubble-chart-group-topics-switch-label {
  font-family: var(--sans);
  font-size: 91.67%;
  user-select: none;
  cursor: pointer;
}

#bubble-chart-show-extremes-button {
  font-family: var(--sans);
  font-size: 83.33%;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 24px;
  border-radius: 0px;
}

#bubble-chart-table {
  position: absolute;
}

#bubble-chart-table * {
  border-top: none;
  margin: 0px;
  padding: 0px;
}

#bubble-chart-table-header-legends text {
  font-weight: bold;
}

#bubble-chart-contents .selection {
  fill: black;
  fill-opacity: 0.041667;
}

#bubble-chart-contents-bubbles circle {
  stroke: black;
  stroke-width: 1.5px;
  opacity: 0.5;
  cursor: pointer;
}

#bubble-chart-contents-bubbles circle:hover {
  opacity: 1;
  stroke-width: 2px;
}

#bubble-chart-contents-titles text {
  font-style: italic;
  font-size: small;
}

#phrase-table {
  width: 864px;
  margin-left: 24px;
  margin-right: 24px;
}

#phrase-table-table {
  position: absolute;
}

#phrase-table-header {
  background-color: #eaeaea;
  height: 72px;
}

#phrase-table-header td {
  border-left: 4px solid white;
  border-right: 4px solid white;
  padding-left: 4px;
  padding-right: 4px;
  user-select: none;
  cursor: pointer;
  vertical-align: top;
}

#phrase-table-header td:first-child {
  border-left: none;
}

#phrase-table-header td:last-child {
  border-right: none;
}

#phrase-table-header td:hover {
  background-color: #d5d5d5;
}

#phrase-table-header div {
  text-align: center;
  margin-top: 8px;
  font-family: var(--sans);
}

#phrase-table-header text {
  display: inline-block;
  margin-top: 18px;
  font-size: xx-small;
  opacity: 0.5;
}

#phrase-table-header-proportion-legends {
  position: absolute;
}

#phrase-table-header-proportion-legends text {
  position: absolute;
}

#phrase-table-header-frequency-legends {
  position: absolute;
}

#phrase-table-header-frequency-legends text {
  position: absolute;
}

#phrase-table-contents {
  overflow-y: auto;
  height: 900px;
  display: block;
  width: fit-content;
}

#phrase-table-contents tr td:first-child {
  width: 216px;
}

#phrase-table-contents * {
  border-top: none;
  border-bottom: none;
}

#phrase-table-contents tr {
  height: 24px;
}

#phrase-table-contents tr svg {
  opacity: 0.5;
  cursor: pointer;
}

#phrase-table-contents tr:hover {
  background-color: #f4f4f4;
}

#phrase-table-contents tr:hover svg {
  opacity: 1;
}
